* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

body {
    padding: 2rem 5rem 0rem 5rem;



}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar li {
    display: flex;
    justify-content: space-between;
}

.navbar ul {

    padding: 0rem 2rem 0rem 0rem;
}

.navbar a {

    color: grey;
}

.navbar a:hover {
    color: black;
}

.bod {
    display: grid;
    padding: 3rem 0rem 0rem 0rem;
    grid-auto-flow: column;
}



.griditem h4 {
    color: red;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    padding: 6rem 0rem 0rem 0rem;

}


#big {
    color: #181E4B;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 89px;
    letter-spacing: -0.04em;

}

.griditem h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    padding: 0rem 0rem 2rem 0rem;
}

.griditem img {
    transition: transform 0.7s;

}

.griditem img:hover {
    transform: rotateX(-20deg);
}

#box {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: gold;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: aliceblue;
    text-decoration: none;
}

#box:hover {
    background-color: goldenrod;
}



.categories {
    text-align: center;
}

.cat h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
    padding-top: 2rem;
}

.cat h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
}

.services h3 {
    padding-top: 2rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    /* text heading color */

    color: #1E1D4C;

}

.services div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
    padding: 1rem 0rem 0rem 0rem;
}

.top {
    text-align: center;
    padding: 3rem 0rem 0rem 0rem;
}

.top h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}

.top h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
    padding: 1rem 0rem 0rem 0rem;
}

.places {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.van {
    padding: 3rem 0rem 0rem 0rem;

}

.van img {
    border-radius: 20px;
    box-shadow: 0px 0px 0.4rem 0.5rem rgba(128, 128, 128, 0.418);
    transition: transform .8s;
}

.van img:hover {
    transform: rotateY(20deg);
}

.van h4 {
    padding: 1rem 0rem 0rem 0rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;

}

.boat {
    padding: 3rem 0rem 0rem 0rem;
}

.boat img {
    border-radius: 20px;
    box-shadow: 0px 0px 0.4rem 0.5rem rgba(128, 128, 128, 0.418);
    transition: transform .8s;

}

.boat img:hover {
    transform: rotateY(20deg);
}

.boat h4 {
    padding: 1rem 0rem 0rem 0rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.sanchi {
    padding: 3rem 0rem 0rem 0rem;

}

.sanchi img:hover {
    transform: rotateY(20deg);
}

.sanchi img {
    border-radius: 20px;
    box-shadow: 0px 0px 0.4rem 0.5rem rgba(128, 128, 128, 0.418);

    transition: transform .8s;

}

.sanchi h4 {
    padding: 1rem 0rem 0rem 0rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.subscribe {
    padding: 5rem 0rem 0rem 0rem;

}

.bod img {
    width: 100%;
}

.subtext {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    color: #5E6282;
    padding: 2rem 0rem 0rem 0rem;
}

#form {
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
}

#btn {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}

#query {
    height: 30px;
    border-radius: 10px;
    padding: 0rem 0rem 0rem 0.4rem;

}

.sub {
    background-color: rgba(197, 143, 152, 0.39);
    border-radius: 10rem 1rem 10rem 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem 0rem 0rem
}

.footer h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    padding: 0rem 0rem 2rem 0rem;
}

.footer li {
    list-style: none;
}

.footer ul {
    padding: 0rem 0rem 1rem 0rem;
}

.endline {
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
}

#endjadoo h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
    color: #5E6282;

}

#endjadoo h2 {
    padding: 0rem 0rem 3rem 0rem;
}

.endline h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
}

.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 2rem 2.5rem;
    background: rgb(247, 245, 241);
    box-shadow: 0px 0px 5px 5px#181e4b7a;
    border-radius: 1rem;
}

.username,
.email,
.password {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.username input,
.email input,
.password input {
    height: 3rem;
    width: 20rem;
    padding-left: 7px;
}

.username input,
input::placeholder,
.email input,
input::placeholder,
.password input,
input::placeholder {
    font-size: 17px;
}


.text {
    padding-bottom: 3rem;
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
}

.line {
    font-weight: 500;
    font-size: 12px;
    line-height: 124.5%;
}

.submit {
    padding: 9px 131px;
    cursor: pointer;
    background-color: #181e4bad;
    border-radius: 10px;
}

.submit a {
    text-decoration: none;
    color: #f4f4ff;
    font-size: 20px;
    font-weight: 600;
}