/* Whole HTML File */
* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

/*text decoration none for all the 'a' tags*/
a {
    text-decoration: none;
}

body {
    padding: 2rem 5rem 0rem 5rem;
}

/*Jadoo logo*/
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Whole Navbar*/
header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -1rem;
}

/*Nav Items*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.nav-item {
    list-style: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* Image and text whinch is in grid*/
.bod {
    display: grid;
    padding: 3rem 0rem 0rem 0rem;
    grid-auto-flow: column;
}


/* Text with 'H4' heading in 'bod' class */
.griditem h4 {
    color: red;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    padding: 6rem 0rem 0rem 0rem;

}

/* for text in griditem in 'bod' class */
#big {
    color: #181E4B;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 89px;
    letter-spacing: -0.04em;
}

/* Text with 'H5' heading in 'bod' class */
.griditem h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    padding: 0rem 0rem 2rem 0rem;
}

/* Image of griditem in the 'bod' div */
.griditem img {
    transition: transform 0.7s;

}

.bod img {
    width: 100%;
}

.griditem img:hover {
    transform: rotateX(-20deg);
}

/* 'FIND OUT MORE' box */
#box {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: gold;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: aliceblue;
    text-decoration: none;
}

#box:hover {
    background-color: goldenrod;
}


/* Categories div */
.categories {
    text-align: center;
}

.cat h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
    padding-top: 2rem;
}

.cat h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
}

/* Images under the categories div */
.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
    flex-wrap: wrap;
}

.services h3 {
    padding-top: 2rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #1E1D4C;

}

.services div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
    padding: 1rem 0rem 0rem 0rem;
}

/* Destination div */
.top {
    text-align: center;
    padding: 3rem 0rem 0rem 0rem;
}

.top h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}

.top h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
    padding: 1rem 0rem 0rem 0rem;
}

/*places div*/
.places {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.van {
    top: 21px;
    position: relative;
    display: inline-block;

}

.van img {
    border-radius: 20px;
    box-shadow: 0px 0px 0.4rem 0.5rem rgba(128, 128, 128, 0.418);

}



.van .img-down {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 22px;
    background-color: white;
    line-height: 34px;
    border-radius: 19px;
    padding-bottom: 26px;


}

.van .img-down h3 {
    line-height: 3px;
}

.van:hover .img-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-down:hover {
    animation: drop 0.5s ease-in-out;
}

.van h4 {
    padding: 1rem 0rem 0rem 0rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;

}

.boat {
    top: 21px;
    position: relative;
    display: inline-block;
}

.boat img {
    border-radius: 20px;
    box-shadow: 0px 0px 0.4rem 0.5rem rgba(128, 128, 128, 0.418);


}


.boat .img-down {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 22px;
    background-color: white;
    line-height: 34px;
    border-radius: 19px;
    padding-top: 22px;
    padding-bottom: 60px;


}

.boat .img-down h3 {
    line-height: 3px;
}

.boat:hover .img-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-down:hover {
    animation: drop 0.5s ease-in-out;
}

.boat h4 {
    padding: 1rem 0rem 0rem 0rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.sanchi {
    top: 21px;
    position: relative;

}



.sanchi img {
    border-radius: 20px;
    box-shadow: 0px 0px 0.4rem 0.5rem rgba(128, 128, 128, 0.418);

}

.sanchi .img-down {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 22px;
    background-color: white;
    line-height: 34px;
    border-radius: 19px;
    padding-top: 22px;
    padding-bottom: 26px;


}

.sanchi .img-down h3 {
    line-height: 3px;
}

.sanchi:hover .img-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-down:hover {
    animation: drop 0.5s ease-in-out;
}

.sanchi h4 {
    padding: 1rem 0rem 0rem 0rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

/* Subscribe  box */
.subscribe {
    padding: 5rem 0rem 0rem 0rem;

}



.subtext {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    color: #5E6282;
    padding: 2rem 0rem 0rem 0rem;
}

#form {
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
}

#btn {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}

#query {
    height: 30px;
    border-radius: 10px;
    padding: 0rem 0rem 0rem 0.4rem;

}

.sub {
    background-color: rgba(197, 143, 152, 0.39);
    border-radius: 10rem 1rem 10rem 1rem;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem 0rem 0rem
}

.footer h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    padding: 0rem 0rem 2rem 0rem;
}

.footer li {
    list-style: none;
}

.footer ul {
    padding: 0rem 0rem 1rem 0rem;
}

/* Endline */
.endline {
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
}

#endjadoo h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
    color: #5E6282;
}

#endjadoo h2 {
    padding: 0rem 0rem 3rem 0rem;
}

.endline h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
}

/* Login Window design */
.signup {
    position: absolute;
    top: 0%;
    left: 36%;
    visibility: hidden;
    padding: 2rem 2.5rem;
    background: rgb(247, 245, 241);
    box-shadow: 0px 0px 5px 5px#181e4b7a;
    border-radius: 1rem;
}

.username,
.email,
.password {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.username input,
.email input,
.password input {
    height: 3rem;
    width: 20rem;
    padding-left: 7px;
}

.username input,
input::placeholder,
.email input,
input::placeholder,
.password input,
input::placeholder {
    font-size: 17px;
    border-radius: 10px;
}

/* 'X' button which means cross for both signup popup window */
.cross {
    float: right;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    background-color: #181e4bad;
    color: #f4f4ff;
    border-radius: 100%;
    font-size: 13px;
    border-color: #181e4bad;
}

/* signup Window popup properties */

.active {
    visibility: visible;
    animation: drop 0.7s ease;

}

/* text, line, submit styles */
.text {
    padding-bottom: 3rem;
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
}

.line {
    font-weight: 500;
    font-size: 12px;
    line-height: 124.5%;
}

.submit {
    padding: 9px 131px;
    cursor: pointer;
    background-color: #181e4bad;
    border-radius: 10px;
}

.submit a {
    text-decoration: none;
    color: #f4f4ff;
    font-size: 20px;
    font-weight: 600;
}

/* Login Window design */
.login {
    position: absolute;
    top: 0%;
    left: 36%;
    visibility: hidden;
    padding: 2rem 2.5rem;
    background: rgb(247, 245, 241);
    box-shadow: 0px 0px 5px 5px#181e4b7a;
    border-radius: 1rem;

}

.email-login {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.email-login input,
.password-login input {
    height: 3rem;
    width: 20rem;
    padding-left: 7px;
}

.email-login input,
input::placeholder,
.password-login input,
input::placeholder {
    font-size: 17px;
}

.forgot a {
    font-size: 12px;
    float: right;
    padding-bottom: 2rem;
}

/* Login window popup properties */
.login.passive {
    visibility: visible;
    animation: drop 0.7s ease;
}

/* 'X' button which means cross for both login popup window */
.close {
    float: right;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    background-color: #181e4bad;
    color: #f4f4ff;
    border-radius: 100%;
    font-size: 13px;
    border-color: #181e4bad;
}

/* Parent div for Signup and Login */
.content {
    height: 640px;
    width: 1200px;
    background-color: #f4f4ff;
    opacity: 1;
    position: fixed;
    top: 90px;
    visibility: hidden;
}

/* Parent div after Popup */
.content.show {
    visibility: visible;
}











/* "KEYFRAMES" for the transition effect */
/* Popup style for both login and Signup which is called in the animation */
@keyframes drop {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}